
# dependencies
/node_modules
/.pnp




# next.js
/.next/
/out/

# production
/build



# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)

# vercel
.vercel


# typescript
*.tsbuildinfo
next-env.d.ts
.vercel
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
config.bat
